<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.renquant.rq104-liveness</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/renhao/git/github/RenQuant/.venv/bin/python</string>
        <string>/Users/renhao/git/github/renquant-orchestrator-run/ops/renquant104/rq104_liveness_check.py</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>18</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/renhao/git/github/RenQuant/logs/rq104/launchd_liveness.out</string>
    <key>StandardErrorPath</key>
    <string>/Users/renhao/git/github/RenQuant/logs/rq104/launchd_liveness.err</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>RQ_ROOT</key>
        <string>/Users/renhao/git/github/RenQuant</string>
        <key>RQ_ORCH_ROOT</key>
        <string>/Users/renhao/git/github/renquant-orchestrator-run</string>
        <key>PYTHONPATH</key>
        <string>/Users/renhao/git/github/renquant-orchestrator-run/src:/Users/renhao/git/github/renquant-orchestrator-run/ops</string>
    </dict>
</dict>
</plist>
